<div class="statistics-section">
    <div class="container">
        <h2 class="statistics-section-title text-center">Faça parte do MeuPatrocínio</h2>
        <p class="statistics-setion-text text-center">O MeuPatrocínio já conta com mais de 8.7 milhões de usuários.<br>
            Entre e encontre a sua Sugar Baby ou Sugar Daddy.</p>
        <div class="flex-container">
            <div class="flex-item text-center">
                <div class="statistic">
                    <h4 class="statistic-heading">5,6 Milhões</h4>
                    <p class="statistic-text">Sugar Babies Femininos</p>
                </div>
            </div>
            <div class="flex-item text-center">
                <div class="statistic">
                    <h4 class="statistic-heading">2 Milhões</h4>
                    <p class="statistic-text">Sugar Babies Masculinos</p>
                </div>
            </div>
            <div class="flex-item text-center">
                <div class="statistic">
                    <h4 class="statistic-heading">870 Mil</h4>
                    <p class="statistic-text">Sugar Daddies</p>
                </div>
            </div>
            <div class="flex-item text-center">
                <div class="statistic">
                    <h4 class="statistic-heading">202 Mil</h4>
                    <p class="statistic-text">Sugar Mommies</p>
                </div>
            </div>
        </div>
        
        <div class="spacer" style="background-color: #fff; height: 30px;"></div>

        <div class="flex-container">
            <div class="flex-item_1 text-center">
                <div class="cta-banner-content">
                    <h2 class="cta-banner-title" style="color: #222222">Cadastre-se hoje mesmo no MeuPatrocínio</h2>
                    <p class="cta-banner-text" style="color: #222222">E encontre pessoas que, como você, sabem o que querem e o
                        que podem oferecer!</p> <a class="btn btn-primary cta-banner-button"
                        href="https://beta.meupatrocinio.com/cadastro">Cadastre-se</a>
                </div>
            </div>
        </div>
    </div>
</div>