#body-header{
    background-color: black;
}

.container {
    padding: 28px 0px;
    margin:  0px 152px 0 152px;
    max-width: 1120px;
    font-size: 15px;

}

div[role=search] .form-control {
    border-radius: 100px 0 0 100px!important;
    background-color: #444;
    color: #fff;
    border: 0;
    height: 32px!important;
    padding: 3px 15px;
    text-indent: 3px;
    margin-top: 0px;
    font-size: 15px;
}

div[role=search] .form-control:focus {
    box-shadow: none;
  }

div[role=search] .btn {
    border-radius: 0 100px 100px 0!important;
    background-color: #444;
    height: 32px!important;
    position: relative;
    left: -10px;
    top: 0px;
    z-index: 3;
    width: 50px!important;
    border: 0;
    box-shadow: none;
}

div[role=search] .btn:hover {
    background-color: #dc3545;
}

div[role=search] .btn i {
   color: #fff;
}

.input-group {
    width: 22%;
}

.nav-item a{
    color: white;
}

.nav-item a:hover{
    color: red;
}

.dropdown-menu {
    padding: 0;
    font-size: 13px;
}

.dropdown-menu li {
    border-bottom: 1px solid rgb(182, 176, 176);
}

.dropdown-menu a {
    background-color: #fff;
    color: black;
}

.dropdown-menu a:hover {
    background-color: red;
    color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

 .dropdown-toggle::after {
    margin-left:0px;
 }

 #signUpButton {
    color: white;
    background-color: #e00c00;
    font-weight: 600;
    padding: 6px 14px;
    margin-left: 10px;
 }

 #navbarSupportedContent{
    width: 58.35%;
    justify-content: flex-end;

 }

 .navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    margin-right: 0 !important;

 }

 .container-fluid {
    padding: 0;
    height: 36px;
 }

 #navbarSupportedContent a{
    font-weight: 600;
 }