  <header>
    <app-header></app-header>
  </header>
  
  <section>
    <app-banner></app-banner>
  </section>
  
  <div class="spacer"></div>

  <section>
    <app-informations></app-informations>

  </section>

  <div class="spacer"></div>

  <section>
    <app-signup></app-signup>

  </section>

  <div class="spacer" style="background-color: #f9f9f9;"></div>

  <section>
    <app-blog></app-blog>

  </section>
  <div class="spacer" style="background-color: #f9f9f9; height: 30px;"></div>
  <div class="spacer"></div>


  <section>
    <app-stats></app-stats>

  </section>

  <footer>
    <app-footer></app-footer>

  </footer>